/* Base styles */

body {
  font-family: "Nunito", sans-serif;
  width: 90%;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  li {
    display: inline-block;
    margin: 0 12px 0 12px;
    text-decoration: underline;
  }
}

section {
  width: 100%;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 200%;
}

h2 {
  font-weight: 100;
  font-size: 110%;
}

p {
}

/* Layout styles */

.hero {
  width: fit-content;
  margin: auto;
  h2 {
    width: 80%;
    margin: 0px auto 20px auto;
  }
}

.contact_form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 55%;
  margin: auto;
  form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;
  }
}

/* Block styles */

.nav_button {
  background-color: blue;
  text-decoration: none;
  color: white;
  padding: 0.5em;
  border-radius: 6px;
  width: 8em;
  text-align: center;
  display: inline-block;
}
iframe {
  margin: 5px;
}

.contact_form input {
  margin: 5px;
  input[type="submit"] {
    border: none;
    background-color: blue;
    text-decoration: none;
    color: white;
    padding: 0.5em;
    border-radius: 6px;
    width: 8em;
    text-align: center;
    display: inline-block;
    align-self: center;
  }
}


